body{
background-image:url("v870-mynt-20_1_2.jpeg");
text-align:center;
border:solid black;
border-width:thick;
color:#00008B;
margin:auto;
width:600px;
height:600px;
font-weight:bold;
}
p{
padding:32px;
}
button{
width:250px;
height:30px;
color:#00008B;
font-weight:bold;
border-radius:8px;
}
button:hover{
background:#F5F5F5
}