body{
background-image:url("v870-mynt-20_1_2.jpeg");
text-align: center;
font-weight: bold;
color:#00008B;
margin: auto;
}
table, th, td{
   border:1px solid black;
}
table{
    margin:auto;
}
th, td{
    padding:1.75px;
}
button{
    width:100px;
    height:30px;
    color:#00008B;
    font-weight: bold;
    border-radius: 8px;
    
}
button:hover{
    background: #F5F5F5;
}